/* layout */
body {
  overflow-y:hidden;
}
.main-area {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:100%;
  overflow-y:scroll;
}
.footer-padding {
  height:56px;
}
.card {
  display: inline-block;
  min-width: 160px;
  max-width: 640px;
}

/* UI controlls */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

/* user list */
.online {
    color: green;
}
.offline {
    color: gray;
}
.badge {
    position: absolute;
    top: 8px;
    left: 36px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

/* ng-animate */
.ng-enter,
.ng-leave,
.ng-move {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.ng-enter {
  opacity: 0;
}
.ng-enter.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  opacity: 1;
}
.ng-leave.ng-leave-active {
  opacity: 0;
}
.ng-move {
  opacity: .5;
}
.ng-move.ng-move-active {
  opacity: 1;
}

/* angular material ajustments */
.md-errors-spacer {
  display: none;
}
.md-button.md-icon-button {
  margin: 0px !important;
  padding: 0px !important;
  height: 32px !important;
  width: 32px !important;
}
/* experiment */
.slim-input {
  margin: 0px;
}