/* layout */
body {
  overflow-y:hidden;
}
.main-area {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  overflow-y:scroll;
}
.footer-padding {
  height:64px;
}
.card {
  /* display: inline-block;
  box-sizing: border-box; */
  min-width: 344px; /* 344 fit's width of xperia, also 164px(half size) may nice*/
  max-width: 496px; /* 496 fit's height of xperia */
  /* min-height: 92px; */
  /* margin: 8px 0px 0px 8px; */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
card-summary {
  padding:0px;
}
.layout-right-upper {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* UI controlls */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}
card-list {
  display: block;
  box-sizing: border-box;
  padding-right: 8px;
}
card-summary {
  display: inline-block;
  box-sizing: border-box;
}
.card:hover {
  -webkit-transform: translate(-2px, -2px) scale(1.02);
  -ms-transform: translate(-2px, -2px) scale(1.02);
  transform: translate(-2px, -2px) scale(1.02);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,.2), 2px 3px 3px 0px rgba(0,0,0,.14), 2px 3px 3px -1px rgba(0,0,0,.12);
}
.card.task {
  border-left: solid 8px orange;
}
.card.task.deleted {
  border-left: solid 8px rgba(255,165,0,0.5);
}
.card.stock {
  border-left: solid 8px lightgreen;
}
.card.stock.deleted {
  border-left: solid 8px rgba(144,238,144,0.5);
}
.card.memo {
  border-left: solid 8px lightskyblue;
}
.card.memo.deleted {
  border-left: solid 8px rgba(135,206,250,0.5);
}
.card.fresh {
  background-color: LemonChiffon;
}
.card.deleted {
  background-color: rgba(0,0,0,0.1);
  color:rgba(0,0,0,0.3);
}
.card-title {
  padding: 8px 0px;
}
.filter-option-group {
  display:inline-block;
  padding: 1em 0.5em 0 0.5em;
  margin: 0.5em;
  border: solid thin rgba(0,0,0,0.87);
}
.accordion-header {
  padding: 0px 8px;
  margin: 2px;
}
.accordion-header:hover {
  color:rgba(0,0,0,0.87);
  background-color:rgba(63,81,181,0.3);
}
.stared-icon:not(.on) {
  text-shadow: black, 0, 0, 0;
}
.stared-icon .on {
  color: orange;
}
.private-icon .on {
  color: orange;
}
.checked-icon .on {
  color: OliveDrab;
}
.hidden-text {
  height:1px;
  width:1px;
  overflow: hidden;
}
a:link {
  color:rgba(0,0,0,0.87);
}
a:visited {
  color:rgba(0,0,0,0.87);
}

/* user list */
.online {
    color: green;
}
.offline {
    color: gray;
}
.badge {
    position: absolute;
    top: 8px;
    left: 36px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

/* ng-animate */
.ng-enter{
  -webkit-transition: opacity 0.6s ease-in;
  transition: opacity 0.6s ease-in;
}
.ng-leave{
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.ng-move {
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}
.ng-enter {
  opacity: 0;
}
.ng-enter.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  opacity: 1;
}
.ng-leave.ng-leave-active {
  opacity: 0;
}
.ng-move {
  opacity: .5;
}
.ng-move.ng-move-active {
  opacity: 1;
}

/* angular material ajustments */
.md-errors-spacer {
  display: none !important;
}
.md-button.md-icon-button:hover :not(disabled) {
  text-shadow: rgba(120,120,120,0.8) 2px 2px 24px;
}
md-toolbar._md-toolbar-transitions {
  padding: 0px 1em;
}
md-radio-group {
  margin-bottom: 16px;
}
md-input-container {
  margin-bottom: 0px !important;
}
md-dialog-content {
  min-width:40vw;
}