<head>
  <title>borad</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
</head>

<body>
  <div ng-app="app" ng-controller="appCtrl as appCtrl">
    <md-icon md-font-icon="arrow_drop_down"></md-icon>
    <login-buttons></login-buttons>
    <form ng-submit="add()">
      <md-input-container flex>
        <label>Title</label>
        <input type="text" ng-model="title">
      </md-input-container>
      <input type="submit" value="add">
    </form>
    <hr>
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card ng-repeat="card in cards" ng-click="showDialog($event, card)">
        <div>
          <input type="checkbox" ng-show="card.checked !== undefined">
          <label ng-bind="card.title">
          </label>
          <md-menu>
            <md-button class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
              <md-icon class="material-icons">arrow_drop_down</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="addCheckBox(card)">
                  <md-icon md-font-icon>check_box</md-icon>{{card.checked !== undefined ? 'remove' : 'add' }} checkbox
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-card>
    </div>
    <hr>
    <pre>{{cards|json}}</pre>
  </div>
</body>