<md-bottom-sheet>
    <form ng-submit="create()" layout="column">
        <div layout="columns" layout-align="space-between center">
            <md-subheader class="md-primary">
                Comment Actions
            </md-subheader>
            <md-button class="md-icon-button md-primary" title="close" ng-click="close()">
                <md-icon>
                    close
                </md-icon>
            </md-button>
        </div>
        <md-tabs md-dynamic-height md-selected="selectedType">
            <md-tab>
                <md-tab-label>
                    <md-icon>
                        check_box
                    </md-icon>
                    Task
                </md-tab-label>
                <md-tab-body>
                    <md-input-container class="md-block">
                        <label>
                            Title
                        </label>
                        <input ng-model="title" required md-autofocus>
                    </md-input-container>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon>
                        iso
                    </md-icon>
                    Stock
                </md-tab-label>
                <md-tab-body>
                    <md-input-container class="md-block">
                        <label>
                            Title
                        </label>
                        <input ng-model="title" required md-autofocus>
                    </md-input-container>
                    <div layout-align="space-between">
                        <md-input-container flex="30">
                            <label>
                                Count
                            </label>
                            <input type="number" ng-model="count" required min="0" step="{{step}}">
                        </md-input-container>
                        <md-input-container flex="30">
                            <label>
                                Step
                            </label>
                            <input type="number" ng-model="step" min="0.1" step="0.1">
                        </md-input-container>
                        <md-input-container flex="30">
                            <label>
                                Unit
                            </label>
                            <input ng-model="unit">
                        </md-input-container>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon>
                        message
                    </md-icon>
                    Memo
                </md-tab-label>
                <md-tab-body>
                    <md-input-container class="md-block">
                        <label>
                            Title
                        </label>
                        <input ng-model="title" required md-autofocus>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>
                            Content
                        </label>
                        <textarea ng-model="content" rows="3" max-rows="5"></textarea>
                    </md-input-container>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="reset()">
                Reset
            </md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="checkError()">
                Create
            </md-button>
        </div>
    </form>
</md-bottom-sheet>