<md-dialog aria-label="card detail" layout="column">
        <div layout="row" layout-align="space-between center">
            <input type="checkbox">
            <input type="text" ng-model="card.title">
            <span ng-if = "displayCounter($scope.type)">
            <button>+</button>
            <span ng-model="$scope.count"></span>
            <button>-</button>
            </span>
        </div>
    
       <md-input-container>
          <!-- Use floating label instead of placeholder -->
          <label>content</label>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
          <input ng-model="$scope.content" type="text">
        </md-input-container>
        <div layout="row" layout-align="space-between center">
        {{$scope.createdBy}}@{{$scope.createdAt}}
    </div>
    <div layout="row" layout-align="space-between center">
        <md-button class="md-raised">
            <md-icon class="material-icons" ng-click="showConfirm($event,$scope._id);$event.stopPropagation();">
                delete
            </md-icon>
        </md-button>
        <md-button class="md-raised">
            <md-icon class="material-icons" ng-click ="close()">
                cancel
            </md-icon>
        </md-button>
        <md-button class="md-raised md-primary">
            <md-icon class="material-icons" ng-click ="updateCard($scope.content)">
                forward
            </md-icon>
        </md-button>
    </div>
</md-dialog>