<md-dialog aria-label="card detail" layout="column">
    <md-content class="md-padding">
        <form ng-submit="updateCard()">
            <div class="cardToolbar" layout="row" layout-align="space-between start">
                <div>
                    <toggle-icon class="stared-icon" flag="card.stared" on="star" off="star_border" title="favorite"
                        on-toggle="">
                    </toggle-icon>
                </div>
                <div flex="1">
                </div>
                <div>
                    <toggle-icon class="private-icon" flag="card.private" on="lock" off="lock_open" title="private"
                        on-toggle="">
                    </toggle-icon>
                    <md-button flag="card.deleted" class="md-icon-button" ng-if="card.deleted === true" ng-click="showConfirm()">
                        <md-icon class="material-icons">
                            restore_trash
                        </md-icon>
                    </md-button>
                    <md-button flag="card.deleted" class="md-icon-button" ng-if="card.deleted !== true" ng-click="showConfirm()">
                        <md-icon class="material-icons">
                            delete
                        </md-icon>
                    </md-button>
                </div>
            </div>

            <div layout="row" layout-align="space-between center">
                <div ng-show="card.checked !== undefined">
                    <toggle-icon class="checked-icon" flag="card.checked" on="check_box" off="check_box_outline_blank"
                        on-toggle="">
                    </toggle-icon>
                </div>
                <md-input-container>
                    <input type="text" ng-model="card.title" style="width: 100%">
                </md-input-container>
                <counter count="card.count" unit="card.unit" ng-show="card.count !== undefined" on-count-up="onClickCountUp()"
                    on-count-down="onClickCountDown()">
                </counter>
            </div>
            <md-chips ng-model="card.tags" placeholder="add tags ..." md-add-on-blur md-on-add="onAddTag($chip, $index)"
                md-enable-chip-edit="true" md-on-remove="onRemoveTag($chip, $index, $event)" ng-change="onChangeTags()">
            </md-chips>
            <accordion caption="'trivial details'">
                created at {{card.createdAt | date: 'yyyy年M月d日（EEE）a hh時mm分ss秒'}} by {{card.createdBy}}

            </accordion>
            <accordion caption="'card detail'">
                <pre>{{card|json}}</pre>
            </accordion>
            <div layout="row" layout-align="space-between center">
                <md-button class="md-raised" ng-click="close()">
                    キャンセル
                </md-button>
                <md-button class="md-raised md-primary" ng-click="updateCard()" type="submit" ng-disabled="card.title === ''">
                    更新
                </md-button>
            </div>
        </form>
    </md-content>
</md-dialog>